Flask>=2.3.3
ultralytics>=8.0.196
opencv-python-headless
numpy>=1.24.3
torch>=2.0.1
torchvision>=0.15.2
gunicorn==21.2.0
flask-socketio==5.3.6
python-socketio==5.8.0
python-engineio==4.7.1
eventlet==0.33.3